@use "./colors" as c;

.container {
    width: 100%;
    background: url(../assets/img/footer-bg.jpg);
    object-fit: contain;
}

.wrap {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.left-side {
    width: 45%;
    display: flex;
    color: c.$secondary-color;
    justify-content: space-between;
    margin: 2rem 0;
}

.right-side {
    position: absolute;
    right: 75px;
    top: 865px;
    width: 40%;
}

h3 {
    margin: 1rem 0;
}